*{
  box-sizing: border-box;
}
:root {
  font-family: 'Red Rose', cursive;
  line-height: 1.5;
  color:#434343;
  padding: 1em;
  font-synthesis: none;
  -moz-osx-font-smoothing: grayscale;

}
li{
  list-style: none;
}
nav{
  display: flex;
  align-items: center;
}
.logoIcon{
  margin-right: auto;
}
.logo{
  width: 2em;
}
.text{
  font-size: 30px;
  display: inline;
  background-image: linear-gradient(91.47deg, #DC3E88 18.25%, #B840AE 43.34%, #843FE8 78.18%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color:transparent;
}
#sideMenu{
  position: absolute;
  background-color: white;
  padding: 10vw;
  padding-left: 3.0vw;
  min-height: 30%;
  width: 70vw;
  top: 80px;
  left: 40vw;
  z-index: 2;

}
.list{
  display: none;
}
.rent h1{
  font-size: 3.5rem;
  letter-spacing: -0.02em;
  line-height: 4.7rem;
  font-weight: 400;
}
.rent span{
  background-image: linear-gradient(90deg, #A02279 11.45%, #A02279 11.45%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color:transparent;
}
.rent p{
  font-size: 24px;
  font-weight: 400;
  line-height: 2.18rem;
}
.mainImages{
  display: none;
}
.search{
  font-size: 16px;
  color: #ffffff;
  background: linear-gradient(90deg, #A02279 11.45%, #A02279 11.46%);
  padding: 0.56rem 3.438rem;
}
form{
  display: flex;
  align-items: center;
}
input{
  font-size: 20px;
  outline: none;
  border-right: none ;
  height: 2.5rem;
  width: 50%;
}
@media(min-width: 1024px){
  .aside{
    display: none;
  }
  .mainImages1{
    display: block;
  }
}
