* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  font-family: "Red Rose", cursive;
  line-height: 1.5;
  color: #434343;

  font-synthesis: none;
  -moz-osx-font-smoothing: grayscale;
}
li {
  list-style: none;
  padding-bottom: 15px;
}
nav {
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav a {
  text-decoration: none;
  color: #434343;
}
.linkes a {
  display: block;
  font-size: 20px;
  margin: 15px;
}
nav a:hover,
.text {
  background-image: linear-gradient(
    91.47deg,
    #dc3e88 18.25%,
    #b840ae 43.34%,
    #843fe8 78.18%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.logoIcon {
  display: flex;
}
.logo {
  width: 2em;
}
.text {
  font-size: 30px;
  display: inline;
}
.aside {
  border: 1px solid black;
  display: flex;
  margin-left: 25vw;
}
#sideMenu {
  position: absolute;
  background-color: white;
  padding: 0px;
  padding-left: 20px;
  min-height: 30%;
  width: 50vw;
  top: 80px;
  left: 50vw;
  z-index: 2;
}
.list {
  display: none;
}
.mainContainer {
  padding: 1em;
}
.rent h1 {
  font-size: 3.5rem;
  letter-spacing: -0.02em;
  line-height: 4.7rem;
  font-weight: 400;
  margin-bottom: 1.5rem;
}
.rent span {
  background-image: linear-gradient(90deg, #a02279 11.45%, #a02279 11.45%);
  font-weight: 700;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.rent p {
  font-size: 24px;
  font-weight: 400;
  width: 96.1%;
  line-height: 2.58rem;
  margin-bottom: 1.5rem;
}
.search {
  font-size: 16px;
  color: #ffffff;
  border-radius: 0px 8px 8px 0px;
  border: none;
  outline: none;
  padding: 0.75rem 3.438rem;
}
.DWallet {
  display: none;
}
.cWallet {
  color: #ffffff;
  padding: 10px 10px;
  border-radius: 10px;
}
form {
  display: flex;
  align-items: center;
}
.search,
.cWallet,
.wrapper,
.DWallet {
  background: linear-gradient(90deg, #a02279 11.45%, #a02279 11.45%);
}
input {
  font-size: 16px;
  padding: 0.7rem;
  outline: 1px solid #a3a3a3;
  background: rgba(247, 247, 247, 0.1);
  border-radius: 8px 0px 0px 8px;
  border: none;
  max-height: 3.4rem;
  width: 70%;
}
.firstBatch,
.secondBatch {
  display: none;
}
.wrapper {
  margin-top: 30px;
  padding: 0.6rem 0.4rem;
  display: flex;
  justify-content: space-around;
}
.wrapper img {
  width: 6.7rem;
  display: block;
  padding-right: 20px;
}
@media (min-width: 1024px) {
  .logo {
    width: 2.6rem;
  }
  .text {
    font-size: 3rem;
  }
  nav {
    padding: 1.5rem 5rem;
  }
  nav a {
    padding-right: 30px;
  }
  .sub{
    width: 60%;
  }
  .list {
    width: 100%;
    justify-content: space-between;
    display: block;
    display: flex;
    align-items: center;
  }
  .aside {
    display: none;
  }
  .mainContainer {
    padding: 1.5rem 5rem;
    padding-top: 5.5rem;
    display: flex;
  }
  .rent {
    width: 70%;
  }
  .firstBatch {
    display: block;
    width: 24%;
    padding-left: 30px;
    margin: 60px 10px;
  }
  .firstBatch img,
  .secondBatch img {
    width: 16vw;
  }
  .secondBatch {
    display: block;
    width: 20%;
  }
  .button {
    padding: 15px 0px;
  }
  .DWallet {
    display: block;
    color: #ffffff;
    padding: 1rem 2rem;
    border-radius: 10px;
    outline: none;
    border: none;
  }
  .search {
    padding-right: 5.48rem;
    padding-left: 5.48rem;
  }
  .wrapper img {
    width: 12rem;
  }
  .modal{
    position: fixed;
    height: 100svh;
    width: 100%;
    top: 0px;
    left: 0;
    background-color:rgba(0,0,0,0.25);
    
  }
}
